<ion-view title="Homepage" hide-nav-bar="true" hide-back-button="true" id="page1">
  <ion-content padding="true" style="background: url(img/Z9vKKafjRZ6uFqfH5H9A_5337f7fab2996_thumb900.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <div class="spacer" style="width: 300px; height: 28px;"></div>
    <div>
      <img src="img/3RV8CtrQvuhVx7pqI7zQ_unnamed.png" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="homepage-heading1" style="color:#FFFFFF;text-align:center;">Multiuser GPS Tracker for Disaster Management</h3>
    <a ui-sref="page3()" id="homepage-button4" class="button button-positive button-block">Track User</a>
    <a ui-sref="page2()" id="homepage-button5" class="button button-positive button-block">Deployment Registration</a>
  </ion-content>
</ion-view>