<ion-view title="" id="page2">
  <ion-content padding="true" style="background: url(img/Fvq5Ws5IRX2tbyH34xQN_5337f7fab2996_thumb900.jpg) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="page2-heading2" style="color:#FFFFFF;text-align:center;">Deployment Registration</h3>
    <div class="spacer" style="width: 300px; height: 18px;"></div>
    <form id="page2-form1" class="list">
      <ion-list id="page2-list1">
        <label class="item item-input" id="page2-input1">
          <span class="input-label">Unit No. </span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="page2-input2">
          <span class="input-label">Destination</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="page2-input3">
          <span class="input-label">Disaster</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <label class="item item-input" id="page2-input6">
        <span class="input-label">Supplies</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-select" id="page2-select2">
        <span class="input-label">Severity</span>
        <select>
          <option>High</option>
          <option>Medium</option>
          <option>Low</option>
        </select>
      </label>
      <div class="spacer" style="width: 300px; height: 18px;"></div>
      <a href="map.html" id="page2-button6" style="border-radius:10px 10px 10px 10px;" class="button button-balanced button-small btn green">Register</a>
    </form>
  </ion-content>
</ion-view>